<div class="max-w-2xl mx-auto py-24 text-gray-400">
  <h1 class="font-bold text-4xl">
    <span class="text-blue-500">Timeline</span> &mdash; New Game
  </h1>

  <div class="mt-12">
    Which deck would you like to play?
    <div class="mt-4 grid grid-cols-3 gap-3">
      <div v-for="(deck, index) in decks">
        <button v-if="index === selectedDeckIndex"
          class="py-3 px-3 h-full w-full text-left flex flex-col rounded-lg bg-blue-500 text-white space-y-2 transition-transform duration-150 hover:scale-105 ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="font-medium">{{deck}}</span>
        </button>
        <button v-else
          @click="selectDeckAt(index)"
          class="py-3 h-full w-full text-left px-3 flex flex-col rounded-lg border-2 border-gray-200 space-y-2 transition-transform duration-150 hover:scale-105">
          <div class="h-5 w-5 rounded-full border-2 border-gray-200"></div>
          <span class="text-gray-500">{{deck}}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="mt-24">
    Everyone who visits this link will join your game.
    <div class="mt-4 max-w-md bg-gray-100 px-3 py-2 rounded-lg flex">
      <!-- Copy link button -->
      <button class="-ml-3 -my-2 px-3 bg-blue-500 text-white rounded-l-lg transform duration-75 hover:bg-blue-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
        </svg>
      </button>

      <span class="ml-3 text-gray-600">https://localhost:8080/xyz123</span>
    </div>
  </div>
</div>