<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/main.css" rel="stylesheet">
  <link href="/static/animations.css" rel="stylesheet">
  <title>Timeline</title>
</head>

<div id="vue-app">
  <div v-if="!started">
    <%- include('lobby') -%>
  </div>
  <div v-if="started">
    <%- include('play') -%>
  </div>
</div>

  <!-- SocketIO -->
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"
    integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
    crossorigin="anonymous"></script>
  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Application Javascript -->
  <script src="/static/game.js"></script>

</html>
