<div id="timeline" class="w-screen h-screen flex items-center overflow-x-scroll">
    <div v-for="(card, index) in cards" class="flex py-10" v-on:drop="cardDropped" v-on:dragover="cardDraggedOver" v-on:dragleave="cardDragLeft">
        <div class="h-56 w-40 flex items-center border-2 rounded-md border-gray-300 transform transition duration-150" 
            v-bind:class="{
                'translate-x-24': dropPlaceholderIndex !== null && dropPlaceholderIndex <= index,
                '-translate-x-24': dropPlaceholderIndex !== null && dropPlaceholderIndex > index,
                'ml-32': index === 0,
                'ml-2': index !== 0,
                'mr-2': index !== (cards.length - 1),
                'mr-32': index === (cards.length - 1)
              }">
           <span class="w-full p-4 text-center text-gray-400 text-4xl">{{card.value}}</span>
        </div>
    </div>
</div>

<div draggable="true" v-on:dragstart="cardDragStarted" class="h-56 w-40 absolute left-5 bg-blue-50 bottom-5 border-2 rounded-md border-gray-300">

</div>