<div class="w-screen h-screen flex flex-col">
  <div id="timeline" class="w-full flex-grow flex items-center overflow-x-scroll">
    <div v-for="(card, index) in timeline" class="flex py-10" v-on:drop="cardDropped" v-on:dragover="cardDraggedOver"
      v-on:dragleave="cardDragLeft">
      <div class="h-56 w-40 flex items-center border-2 rounded-md border-gray-300 transform transition duration-150"
        v-bind:class="{
          'translate-x-44': dropPlaceholderIndex !== null && dropPlaceholderIndex <= index,
          'ml-32': index === 0,
          'ml-2': index !== 0,
          'mr-2': index !== (timeline.length - 1),
          'mr-32': index === (timeline.length - 1),
          'transition-none': !timelineTransitionsEnabled,
        }">
        <span class="w-full p-4 text-center text-gray-400 text-4xl">{{card.value}}</span>
      </div>
    </div>
  </div>
  
  <div class="w-full py-4 bg-gray-50">
    <div class="w-full flex flex-row justify-center space-x-4">
      <div v-for="(card, index) in hand">
        <div draggable="true" v-on:dragstart="cardDragStarted($event, index)"
          class="h-56 w-40 flex items-center border-2 rounded-md border-gray-300">
          <span class="w-full p-4 text-center text-gray-400 text-4xl">{{card.value}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
