<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/main.css" rel="stylesheet">
  <link href="/static/animations.css" rel="stylesheet">
  <title>Timeline</title>
</head>

<div id="vue-app">
  <div v-if="!started">
    <%- include('lobby') -%>
  </div>
  <div v-if="started">
    <%- include('play') -%>
  </div>
</div>

</html>