<div id="timeline" class="w-screen h-screen flex items-center bg-gray-50 overflow-x-scroll">
    <div v-for="(card, index) in cards" class="flex py-10" v-on:drop="cardDropped" v-on:dragover="cardDraggedOver" v-on:dragleave="cardDragLeft">
        <div class="mx-2 h-56 w-40 border-2 rounded-md border-gray-300 transform transition duration-150" 
            v-bind:class="{
                'translate-x-24': dropPlaceholderIndex !== null && dropPlaceholderIndex <= index,
                '-translate-x-24': dropPlaceholderIndex !== null && dropPlaceholderIndex > index,
            }">
            {{card.value}}
        </div>
    </div>
</div>

<div draggable="true" v-on:dragstart="cardDragStarted" class="h-56 w-40 absolute left-5 bg-blue-50 bottom-5 border-2 rounded-md border-gray-300">

</div>