<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/main.css" rel="stylesheet">
  <link href="/static/animations.css" rel="stylesheet">
  <title>Timeline</title>
</head>

<body>
  <div id="vue-app">
    <div class="w-screen h-screen flex flex-col">
      <!-- Player ticker -->
      <div class="w-full py-3 border-b-2 border-gray-200">
        <div class="flex justify-center space-x-6">
          <div v-for="player in players">
            <div class="text-gray-300 flex flex-col items-center" v-bind:class="{
              'text-gray-400': player.username === currentTurn,
            }">
              <span>{{player.username}} ({{player.cardsRemaining}})</span>
          </div>
          </div>
        </div>
      </div>

      <!-- The area that shows the timeline -->
      <div id="timeline" class="w-full flex-grow flex items-center overflow-x-scroll">
        <div v-for="(card, index) in timeline" class="flex py-10">
          <div>
            <div class="relative h-56 w-40 transform transition duration-200" v-bind:class="{
              'translate-x-44': dropPlaceholderIndex !== null && dropPlaceholderIndex <= index,
              'ml-32': index === 0,
              'ml-2': index !== 0,
              'mr-2': index !== (timeline.length - 1),
              'mr-32': index === (timeline.length - 1),
              'transition-none': !timelineTransitionsEnabled,
              'opacity-0': index === removedIndex,
              'translate-y-[-150pt]': index === removedIndex,
            }">
              <div
                class="absolute w-full h-full flex items-center border-2 rounded-md border-gray-300 transform transition-transform flippable"
                v-bind:class="{
                'flipped': flippedIndices.includes(index),
              }">
                <span class="w-full p-4 text-center text-gray-400 text-2xl font-medium">{{card.frontValue}}</span>
              </div>
              <div
                class="absolute w-full h-full flex items-center text-gray-400 border-2 rounded-md border-gray-300 transform transition-transform flippable"
                v-bind:class="{ 
                  'flipped': !flippedIndices.includes(index),
                  'border-red-300': index === justDroppedInfo?.index && justDroppedInfo?.isCorrect === false,
                  'bg-red-100': index === justDroppedInfo?.index && justDroppedInfo?.isCorrect === false,
                  'text-red-600': index === justDroppedInfo?.index && justDroppedInfo?.isCorrect === false,
                  'border-green-300': index === justDroppedInfo?.index && justDroppedInfo?.isCorrect === true,
                  'bg-green-100': index === justDroppedInfo?.index && justDroppedInfo?.isCorrect === true,
                  'text-green-600': index === justDroppedInfo?.index && justDroppedInfo?.isCorrect === true,
                }">
                <span class="w-full p-4 text-center text-2xl">{{card.backValue}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full pt-4 pb-10 bg-gray-50 flex flex-col items-center" :style="background">
        <!-- Current turn indicator -->
        <div v-if="isMyTurn" class="inline-block mx-auto bg">
          <div class="text-blue-500 text-xl font-medium justify-center flex items-center space-x-1">
            <span class="">It's your turn</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="text-gray-400">Drag one of your cards into the Timeline, placing it in order.</div>
        </div>

        <!-- The player's hand -->
        <div class="mt-8 flex flex-row space-x-4">
          <div v-for="(card, index) in hand">
            <div :id="'handCard-' + index"
              class="h-56 w-40 flex items-center border-2 rounded-md border-gray-300 transition duration-300 bg-white shadow-md text-gray-400 "
              v-bind:class="{
                'translate-y-[150pt]': undealtHandIndices.includes(index),
                'opacity-0': undealtHandIndices.includes(index),
                'translate-x-[5.5rem]': isDealingInNewCard && !undealtHandIndices.includes(index),
                'transition-none': !handTransitionsEnabled,
                'cursor-grab hover:scale-105 hover:shadow-lg hover:text-blue-500 hover:shadow-blue-500/50 hover:border-blue-500': isMyTurn,
                'cursor-not-allowed': !isMyTurn,
                'translate-x-20': handPlaceholderIndex !== null && handPlaceholderIndex <= index,
                '-translate-x-20': handPlaceholderIndex !== null && handPlaceholderIndex > index,
              }"
              v-bind:style="index === draggingCardIndex ? dragTransform : ``">
              <span class="w-full p-4 text-center text-2xl font-medium">{{card.frontValue}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>