/* These transitions are for flipping over the cards on the timeline. */
/* They're not available in Tailwind. */

.flippable {
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
}

.flipped {
  transform: rotateY(180deg);
}